<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Public Library</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/d7200c44d8.js" crossorigin="anonymous"></script>
</head>
<body>
    @{ 
        @Html.Partial("_Navbar")
    }
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p id="footer">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/toastr.js"></script>
    @RenderSection("scripts", required: false)

<style>
   #footer {
      font-weight: 700;
      font-size: 14px;
   }
</style>

</body>
</html>
