@model IEnumerable<Library.Models.Book_Taken>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TakenDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TakenDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
        </tr>
    }

</table>

<style>

    h2 {
        color: #C70039;
    }

    table th, table td {
        text-align: center;
    }

    table th {
        background-color: #9400FF;
        color: white;
    }

    table td {
        color: #0C356A;
        background-color: #FFF5E0;
        font-weight: 600;
        font-size: 16px;
        font-family: 'Times New Roman';
    }

    body {
        margin-top: 3em;
    }
</style>