@model IEnumerable<Library.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastLoginDate)
        </td>
        <td>
            @if (item.Avatar != null)
            {
                <img alt="profile" class="img-circle" src="data:image;base64,@Convert.ToBase64String(item.Avatar)" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.RoleName)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.UserId })">
                <i class="fa-solid fa-pen-to-square fa-lg" style="color: #5cb85c;"></i>
            </a> |
            <a href="@Url.Action("Details", new { id = item.UserId })">
                <i class="fa-solid fa-circle-info fa-lg" style="color: #5bc0de;"></i>
            </a> |
            <a href="@Url.Action("Delete", new { id = item.UserId })">
                <i class="fa-solid fa-trash fa-lg" style="color: #d9534f;"></i>
            </a>
        </td>
    </tr>
}

</table>

<style>

    h2 {
        color: #C70039;
    }

    img {
        width: 100px;
        height: 100px;
    }

    table th,table td{
        text-align:center;
    }

    table th {
        background-color: #9400FF;
        color:white;
    }

    table td {
        color: #0C356A;
        background-color: #FFF5E0;
        font-weight:600;
        font-size:16px;
        font-family:'Times New Roman';
    }

    body {
        margin-top: 3em;
    }

</style>