@model Library.Models.User

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Register</h2>
        </div>

        <div class="card-body">
            <div class="form-group mt-3 mb-3">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @PlaceHolder = "Username" })
                @Html.ValidationMessageFor(m => m.Username)
            </div>
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @PlaceHolder = "Email" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="form-group mb-3">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @PlaceHolder = "Password" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-group">
                <label>Choose Avatar</label>
                <input type="file" id="Avatar" name="Avatar" class="form-control" placeholder="Avatar" />
                @Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger" })
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn1">Register</button>
                @Html.ActionLink("Already a User", "Index", null, new { @class = "btn2" })
            </div>
        </div>
    </div>
</div> 
}

<style>

    h2 {
        color: white;
        padding-bottom: 20px;
    }

    .card {
        width: 35%;
        margin: 8em auto 7em auto;
        border: 1px solid grey;
        border-radius: 25px;
        padding: 15px;
        background-color: #27005D;
    }

    .card:hover {
        transform: scale(1.05);
        border: 1px solid black;
    }

    label{
       margin-left:9em;
       color:white;
    }

    .form-group .form-control {
        border: none;
        border-radius: 25px;
        outline: none;
        color: white;
        background-color: #27005D;
        width: 100%;
        margin: 0 auto 0 auto;
        box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    }

    .btn1 {
        color: white;
        background-color: #9400FF;
        border-radius: 5px;
        border: none;
        margin-right: 1em;
    }

    .btn1:hover {
        background-color: black;
        color: white;
    }

    .btn2 {
        color: white;
        font-size: 16px;
    }

    .btn2:hover {
        color: #9400FF;
        text-decoration: none;
    }

</style>

