@model Library.Models.Book

@{
    ViewBag.Title = "Details";
    if (Request.UrlReferrer != null)
    {
        string returnUrl = Request.UrlReferrer.ToString();
        ViewBag.ReturnUrl = returnUrl;
    }
}

<h2>Book Details</h2>
<hr/>
<div class="col-12">
    <div class="card" style="width: 26rem;">
        <img src="data:image;base64,@Convert.ToBase64String(Model.Picture)" class="card-img-top" alt="Cover">
        <div class="card-body">
            <p class="card-title text-center p-2"> @Html.DisplayFor(model => model.BookName)</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa-solid fa-user-pen" style="color: #000000;"></i> @Html.DisplayFor(model => model.Author)</li>
            <li class="list-group-item"><i class="fa-solid fa-book" style="color: #000000;"></i> @Html.DisplayFor(model => model.Book_Genre.Genre)</li>
            <li class="list-group-item"> Available : @Html.DisplayFor(model => model.Available)</li>
        </ul>
        <div class="card-body text-center">
            <a href="@Url.Action("Edit", new { id = Model.BookId })" class="btn btn-success">
                Edit  <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
            </a>
        </div>
    </div>

    <div>
        
        <a href="@ViewBag.ReturnUrl" class="btn btn-warning">
            <i class="fa-solid fa-arrow-left" style="color: #000000;"></i> Go Back
        </a>
    </div>
</div>

<style>

    body {
        margin-top: 3em;
    }

    h2 {
        color: #C70039;
    }

    img{
        width:250px;
        height:200px;
    }

    .card {
        margin: 10px auto 10px auto;
        background-color: #07182E;
        padding: 5px;
        border-radius: 10px;
        position: relative;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    }

    
    .card-title {
        background: rgb(5, 6, 45);
        border-radius: 5px;
        font-size: 18px;
        font-weight: 700;
        color: whitesmoke;
    }

    .list-group-flush {
        font-size: 15px;
        font-weight: 600;
    }

</style>