@model IEnumerable<Library.Models.Book>

@{
    ViewBag.Title = "Index1";
}

<h2>Books</h2>
<hr />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-6 text-center">

            <div class="card" style="width: 26rem;">
                <img class="card-img-top" src="data:image;base64,@Convert.ToBase64String(item.Picture)" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.BookName)</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa-solid fa-user-pen" style="color: #000000;"></i>  @Html.DisplayFor(modelItem => item.Author)</li>
                    <li class="list-group-item"><i class="fa-solid fa-book" style="color: #000000;"></i> @Html.DisplayFor(modelItem => item.Book_Genre.Genre)</li>
                    <li class="list-group-item"> @Html.DisplayFor(modelItem => item.Available)</li>
                </ul>
                <div class="card-body">
                    @Html.ActionLink("Take Book", "TakeBook", new { id = item.BookId }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }
</div>

<div>
    <a href="@Url.Action("BookGenres")" class="btn btn-warning">
        <i class="fa-solid fa-arrow-left" style="color: #000000;"></i> Go Back
    </a>
</div>

<style>

    h2 {
        color: #C70039;
    }

    body {
        margin-top: 3em;
    }

    img {
        width: 250px;
        height: 200px;
    }

    .card {
        margin:10px 0 10px 0;
        background-color: #07182E;
        padding: 5px;
        border-radius: 10px;
        position: relative;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    }


     .card-title {
        background: rgb(5, 6, 45);
        border-radius: 5px;
        font-size: 18px;
        font-weight: 700;
        color: whitesmoke;
    }

    .list-group-flush {
        font-size: 15px;
        font-weight: 600;
    }
</style>