@model IPagedList<Library.Models.Fine>

@{
    ViewBag.Title = "Index";
}

@using PagedList;
@using PagedList.Mvc;

<h2>Penalty</h2>
<hr />

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().User.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ExceededDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FineAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().IsPaid)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExceededDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FineAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
            <td>
                <a href="@Url.Action("Details", new { id = item.FineId })">
                    <i class="fa-solid fa-circle-info fa-lg" style="color: #5bc0de;"></i>
                </a>
            </td>
        </tr>
    }

</table>

<div class="text-center">
    @Html.PagedListPager(Model, a => Url.Action("Index", "Fine", new { a }))
</div>

<style>
    body {
        margin-top: 3em;
    }

    h2 {
        color: #C70039;
    }

    table th, table td {
        text-align: center;
    }
</style>